.vagrant
.*swp
live-build/.build
live-build/binary/
live-build/cache/
live-build/chroot/
live-build/.lock
live-build/*.chroot.packages.install
live-build/*.chroot.packages.live
live-build/*.binary.contents
live-build/*.binary.packages
live-build/*.binary.hybrid.iso
live-build/*.binary.img
live-build/*.iso
live-build/*.torrent
live-build/*.zsync
live-build/*.zsync.gz
live-build/*.md5
live-build/*.log
live-build/config/includes.binary/BUILD
live-build/config/includes.binary/README
live-build/config/includes.binary/isolinux/menu.cfg
live-build/config/includes.binary/isolinux/live.cfg
live-build/config/includes.chroot/BUILD
live-build/config/binary
live-build/config/bootstrap
live-build/config/chroot
live-build/config/common
live-build/config/source
live-build/config/build
live-build/*.chroot.files
live-build/*.contents
live-build/*.files
live-build/*.packages
live-build/*.log.error
live-build/*.error
live-build/config/package-lists/debug.list.chroot
live-build/config/package-lists/grub.list.chroot
live-build/buildall.sh
live-build/config/archives/proposed.*
